*{
    margin: 10px;
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1 {
    color: #FFFFFF;
    font-size: 50px;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.welcome {
    color: #FFFFFF;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.content-right{
    color: #FFFFFF;
    font-size: 20px;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 100px;
}
.contact-left{
    font-size: 15px;
}
.contact-right{
 font-size: 15px;
}
.india{
    color: red;
}
.content-left{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
}
.content-left-name{
    color: #FFFFFF;
}
.content-left-email{
    color: #FFFFFF;
}
.content-left-phone{
    color: #FFFFFF;
}
.content-left-company{
    color: #FFFFFF;
}
.heading:hover{
    color: red;

}
.welcome a:link{
    color: hotpink;
}
.welcome a:visited{
    color: yellow;
}
.welcome a:hover{
    color: red;
}