.family{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.size{
    font-size: 20px;
}

.strech{
    font-stretch: expanded;
}

.show{
    font-style: italic;
    font-size: 25px;
}